@use '../../styles/variables.scss' as *;

.layout {
  display: flex;
  flex-direction: column;
  background-color: $color-black-russian;
  height: 100vh;
  border-radius: 2rem;
}

.layout__main {
  display: grid;
  grid-template-columns: 300px 1fr;
}